h1 {
    font-weight: bolder;
    text-align: center;
    background-color: hsla(241, 86%, 38%, 0.466);
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    }

    a {
        font-style: italic;
        font-size: x-large;
        color: rgb(255, 150, 20);
        background-color: hsl(241, 88%, 28%);
    }